* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overscroll-behavior-block: none;
}

header {
    height: 10vh;
    background: #303030;
    color: #eeeeee;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    font-size: 2rem;
}

#logo {
    height: 100px;
    width: auto;
    margin: 3px 5px 3px 10px;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 20px;
}

ul > li {
    font-size: 1.2rem;
    width: 80px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li.current-page {
    border-radius: 30px;
    background-color: #eeeeee;
    color: #303030;
}

ul > li:hover {
    border-radius: 30px;
    background-color: #eeeeee;
    color: #303030;
}

a {
    text-decoration: none;
    color: inherit;
}

#banner {
    width: 100vw;
    height: inherit;
    object-fit: cover;
}

#image-banner {
    position: relative;
    height: 40vh
}

#big-title {
    position: absolute;
    left: calc(50% - calc(306.56px / 2));
    bottom: calc(50% - calc(95px / 2));

    font-size: 3rem;
    background-color: #303030e3;
    border-radius: 20px;
    padding: 20px;
    color: #ff9d00;
}

#blog-section {
    background-color: #383838;
    
    display: flex;
    flex-direction: column;
    padding: 3vh 25vw;
    gap: 2vh;
}

.card {
    padding: 30px;
    color: #eeeeee;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 40px;
    line-height: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    height: 20vh;
    padding: 5vh;
    background-color: #303030;
    color: #eeeeee;
}